
extends layout

block append vars
  if page.metadata.spot
    - bodyclass = page.metadata.spot

block prepend title
  | #{ page.title + " | "}

block append head
  if page.metadata.css
    each css in page.metadata.css
      link(rel='stylesheet', href='/css/' + css + '.css')

block hero
  if page.metadata.background
    section(class='hero ' + page.metadata.canvas, style='background-image: url(/img/' + page.metadata.background + ')')
      div.title-wrap.constrain
        h1.title= page.title
        p.description= page.metadata.description
        p.date= moment.utc(page.date).format('M.D.YYYY')

block content
  article.article.constrained
    section.content!= page.html

block prepend footer
  div.back
    a(href=contents.index.url) « Blog

block append scripts
  if page.metadata.js
    each js in page.metadata.js
      script(src='/js/' + js + '.js')
