
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " | "}

block append head
  if page.metadata.css
    each css in page.metadata.css
      link(rel='stylesheet', href='/css/' + css + '.css')

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog

block append scripts
  if page.metadata.js
    each js in page.metadata.js
      script(src='/js/' + js + '.js')
