
extends layout

block append vars
  if page.metadata.spot
    - bodyclass = page.metadata.spot

block prepend description
  meta(name='description', content= page.metadata.description)

block prepend title
  | #{ page.title + " | "}

block append head
  if page.metadata.css
    each css in page.metadata.css
      link(rel='stylesheet', href= locals.url + '/css/' + css + '.css')

block hero
  if page.metadata.background
    section(class='hero ' + page.metadata.canvas, style='background-image: url(' + locals.url + '/img/' + page.metadata.background + ')')
      if page.metadata.feature
        img.feature-image(src= locals.url + '/img/' + page.metadata.feature)
      else
        div.title-wrap.constrain
          h1.title
            a(href= locals.url + page.url)= page.title
          p.description= page.metadata.description
          p.date= moment.utc(page.date).format('M.D.YYYY')

block content
  if page.metadata.feature
    div.title-wrap.constrain.in-article
      h1.title
        a(href= locals.url + page.url)= page.title
      p.description= page.metadata.description
      p.date= moment.utc(page.date).format('M.D.YYYY')
  article.panel.white
    section.constrain.content!= page.html
  div.bottom-nav
    div.constrain.clearfix
      - for (var i = 0; i < contents.index.articles.length;  i++){
      -   var article = contents.index.articles[i]
      -   if (article == page){
      -     if (i !== 0){
      -       var previous = contents.index.articles[i - 1]
        a.previous.left(href= locals.url + previous.url)
          p.small previous article:
          p= previous.title
      -     } else {
      -       var previous = contents.index.articles[contents.index.articles.length - 1]
        a.previous.left(href= locals.url + previous.url)
          p.small previous article:
          p= previous.title
      -     }
      -     if (i !== contents.index.articles.length - 1){
      -       var next = contents.index.articles[i + 1]
        a.next.right(href= locals.url + next.url)
          p.small next article:
          p= next.title
      -     } else {
      -       var next = contents.index.articles[0]
        a.next.right(href= locals.url + next.url)
          p.small next article:
          p= next.title
      -     }
      -   }
      - }

block append scripts
  if page.metadata.js
    each js in page.metadata.js
      script(src= locals.url + '/js/' + js + '.js')
