extends layout

block append vars
  each article in articles
    if article.metadata.featured
      - bodyclass = article.metadata.spot

block prepend description
  meta(name='description', content= locals.description)

block hero
  each article in articles
    if article.metadata.featured
      if article.metadata.background
        section(class='hero homepage ' + article.metadata.canvas, style='background-image: url(' + locals.url + '/img/' + article.metadata.background + ')')
          div.title-wrap.constrain
            p.small Featured Post:
            h2.title
              a(href= locals.url + article.url)= article.title
            p.description= article.metadata.description
            a(href= locals.url + article.url, class= 'btn ' + article.metadata.spot) Read More »

block content
  div.panel.white
    div.constrain
      each article in articles
        div.col-group.blog-roll
          a.thumbnail(style='background-image: url(' + locals.url + '/img/' + article.metadata.thumbnail + ')', href= locals.url + article.url)
          div.col2of5.col.text
            header
              h2
                a(href= locals.url + article.url, class= article.metadata.spot)= article.title
              p.small= moment.utc(article.date).format('DD MMMM YYYY')
            section
              p= article.metadata.description
              p.small
                a(href= locals.url + article.url, class= article.metadata.spot) Read More »
  div.bottom-nav
    div.constrain.clearfix
        a.previous.left(href= locals.url + '/archive/')
          p.small view all articles:
          p Archive
          - var next = contents.index.articles[0]
          a.next.right(href= locals.url + next.url)
            p.small most recent article:
            p= next.title



