!!! 5
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      - if (env.mode == 'build'){
      -   locals.url = locals.build
      - }
      link(rel='alternate', href=locals.url + '/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href=locals.url + '/css/main.css')
      link(rel='stylesheet', href=locals.url + '/css/style.css')
  body(class=bodyclass)
    block header
      header.panel.transparent.nav
        nav.constrain
          a.left(href=locals.url)= locals.name
          a.right(href=locals.url + '/archive/') Archive
          span.right /
          a.right(href=locals.url) Blog
          a= mode
    block hero
    block content
      div.panel.white
    footer.panel.navy
      div.constrain
        block footer
          section
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } Paul C Pederson
    block scripts
      script(src='/js/script.js')
