!!! 5
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, height=device-height')
      block description
      title
        block title
          = locals.name
      - if (env.mode == 'build'){
      -   locals.url = locals.build
      - }
      link(rel='shortcut icon', href=locals.url + '/img/favicon.ico')
      link(rel='alternate', href=locals.url + '/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href=locals.url + '/css/style.css')
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41031992-1', 'paulcpederson.com');
        ga('send', 'pageview');

  body(class=bodyclass)
    block header
      header.panel.transparent.nav
        nav.constrain
          - if (locals.url == ''){
            a.left(href="/")= locals.name
          - } else {
            a.left(href=locals.url)= locals.name
          - }
          a.right(href=locals.url + '/archive/') Archive
          span.right.hide-mobile /
          - if (locals.url == ''){
            a.right.hide-mobile(href="/") Blog
          - } else {
            a.right.hide-mobile(href=locals.url) Blog
          - }
    block hero
    block content
      div.panel.white
    footer.panel.navy
      div.constrain
        block footer
          section
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } Paul C Pederson
          section.footer-social
            a.icon-twitter(href='https://twitter.com/paulcpederson')
            a.icon-github(href='https://github.com/paulcpederson')
            a.icon-google(href='https://plus.google.com/117963508642452000116?rel=author')
            a.icon-dribbble(href='http://dribbble.com/paulcpederson')
    block scripts
