
extends layout

block append vars
  - bodyclass = page.metadata.spot + ' map'

block prepend description
  meta(name='description', content= page.metadata.description)

block prepend title
  | #{ page.title + " | "}

block append head
  if page.metadata.css
    each css in page.metadata.css
      link(rel='stylesheet', href= locals.url + '/css/' + css + '.css')

block hero
  div#map.map-div.hero-map

block content
  div.title-wrap.constrain.in-article
    h1.title
      a(href= locals.url + page.url + '#article')= page.title
    p.description= page.metadata.description
    p.date= moment.utc(page.date).format('M.D.YYYY')
  article.panel.white
    section.constrain.content!= page.html
  div.bottom-nav
    div.constrain.clearfix
      - for (var i = 0; i < contents.index.articles.length;  i++){
      -   var article = contents.index.articles[i]
      -   if (article == page){
      -     if (i !== 0){
      -       var previous = contents.index.articles[i - 1]
        a.previous.left(href= locals.url + previous.url)
          p.small previous article:
          p= previous.title
      -     } else {
      -       var previous = contents.index.articles[contents.index.articles.length - 1]
        a.previous.left(href= locals.url + previous.url)
          p.small previous article:
          p= previous.title
      -     }
      -     if (i !== contents.index.articles.length - 1){
      -       var next = contents.index.articles[i + 1]
        a.next.right(href= locals.url + next.url)
          p.small next article:
          p= next.title
      -     } else {
      -       var next = contents.index.articles[0]
        a.next.right(href= locals.url + next.url)
          p.small next article:
          p= next.title
      -     }
      -   }
      - }

block append scripts
  if page.metadata.js
    each js in page.metadata.js
      script(src= locals.url + '/js/' + js + '.js')
